<template>
   <div id="app">
      <v-app>
         <v-app toolbar>
            <v-navigation-drawer app fixed dark v-model="drawer">
               <v-list>
                  <v-list-tile :to="{path: '/'}" @click="title = 'Main'">
                     <v-list-tile-action>
                        <v-icon>{{ icons[0] }}</v-icon>
                     </v-list-tile-action>
                     <v-list-tile-content>
                        <v-list-tile-title>Main</v-list-tile-title>
                     </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile :to="{path: '/canlog'}" @click="title = 'CAN Log'">
                     <v-list-tile-action>
                        <v-icon>{{ icons[0] }}</v-icon>
                     </v-list-tile-action>
                     <v-list-tile-content>
                        <v-list-tile-title>CAN Log</v-list-tile-title>
                     </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile :to="{path: '/diagnostics'}" @click="title = 'Diagnostics'">
                     <v-list-tile-action>
                        <v-icon>{{ icons[0] }}</v-icon>
                     </v-list-tile-action>
                     <v-list-tile-content>
                        <v-list-tile-title>Diagnostics</v-list-tile-title>
                     </v-list-tile-content>
                  </v-list-tile>
               </v-list>
            </v-navigation-drawer>
            <main>
               <v-content>
                  <v-toolbar>
                     <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                     <v-toolbar-title>{{ title }}</v-toolbar-title>
                  </v-toolbar>
                  <v-container fluid>
                     <router-view></router-view>
                  </v-container>
               </v-content>
            </main>      
         </v-app>
      </v-app>
   </div>
</template>

<script>
  export default {
    name: 'vt-tester',
    data: function() {
       return {
          drawer: true,
          title: '',
          icons: ['dashboard', 'home', 'event'],
       }
    },
    components: {
    }
  }
</script>

<style>
  /* CSS */
</style>
