<template>
   <div id="wrapper">
      <v-container grid-list-md text-xs-center>
         <v-layout row wrap>
            <v-flex xs6>
               <h1>Basic Test Sequence</h1>
               <v-card dark v-for="test in tests" :key="test.id" :color="resultColor(test.result)">
                  <v-card-title>{{ test.name }}</v-card-title>
                  <v-card-text v-if="test.result == 2">{{ test.message }}</v-card-text>
               </v-card>
               <v-btn @click="startTest">Start</v-btn>
            </v-flex>

            <v-flex xs6>
               <h1>Test Commands</h1>
               <v-card>
                  <v-card-text>VT Status</v-card-text>
                  <v-card-actions>
                     <v-btn flat color="blue">Disable</v-btn>
                     <v-btn flat color="black">Enable</v-btn>
                  </v-card-actions>
               </v-card>
               <v-card>
                  <v-card-text>Bus Load</v-card-text>
                  <v-card-actions>
                     <v-btn>Disable</v-btn>
                     <v-btn>Enable</v-btn>
                  </v-card-actions>
               </v-card>
               <v-card>
                  <v-card-title primary-title><h3>Object Pool</h3></v-card-title>
                  <v-card-actions>
                     <v-btn>Delete</v-btn>
                     <v-btn>Save</v-btn>
                  </v-card-actions>
               </v-card>
            </v-flex>
         </v-layout>
      </v-container>
   </div>
</template>

<script>
  export default {
     name: 'basic',
     data () {
        return {
           tests: []
        };
     },
     async created() {
        this.loadTests();
     },
     methods: {
        loadTests: async function() {
            const response = await this.$http.get('/test');
            this.tests = response.data;
        },
        startTest: async function() {
           console.log('resetting');
           for(var testId = 0 ; testId < this.tests.length ; testId++) {
              this.tests[testId].result = 0;
           }
           console.log('starting test');
           var self = this;
           for(var testId = 0 ; testId < this.tests.length ; testId++) {
              console.log('running step ' + testId);
              this.tests[testId].result = 1;
              const response = await this.$http.post('/test?id=' + testId);
              console.log('passed? ', response.data.passed);
              this.tests[testId].result = 2 + (response.data.passed ? 1 : 0);
              this.tests[testId].message = response.data.message;
           }
        },
        resultColor: function(result) {
           var colors = ['gray', 'blue', 'red', 'green'];
           return colors[result];
        }
     }
  }
</script>

<style>
</style>
