<template>
   <div>
      <v-data-table
            :headers="headers"
            :items="log"
            hide-actions
            class="elevation-1"
            >
            <template slot="items" slot-scope="props">
               <td>{{ props.item.time }}</td>
               <td>{{ formatHex(props.item.header, 8) }}</td>
               <td>{{ props.item.dlc }}</td>
               <td>{{ formatArray(props.item.data) }}</td>
               <td>{{ props.item.desc }}</td>
            </template>
            <template slot="no-data">
               <v-alert :value="true" color="error" icon="warning">
                  Sorry, nothing to display here :(
               </v-alert>
            </template>
      </v-data-table>
   </div>
</template>

<script>
import logdata from './result.json'

  export default {
    name: 'CanLog',
    data: function() {
       return {
          drawer: null,
          headers: [
          {
             text: 'Time',
             align: 'left',
             value: 'name'
          },
          { text: 'Header', value: 'header' },
          { text: 'DLC', value: 'dlc' },
          { text: 'Data', value: 'data' },
          { text: 'Description', value: 'desc' },
          ],
          log: logdata
       }
    },
    methods: {
      formatHex(value, length) {
        var str = value.toString(16).toUpperCase()
        return '0'.repeat(length - str.length) + str
      },
      formatArray(value) {
        var rval = ''
        for (var i = 0; i < value.length; i++) {
          rval += this.formatHex(value[i], 2)
          rval += ' '
        }
        return rval
      }
   }
  }
</script>

<style>
  /* CSS */
</style>
