<template>
   <div id="wrapper">
      <h1>ISOBUS Part 12 Diagnostics</h1>
      <v-container grid-list-md>
         <v-layout>
            <v-flex xs6>
               <v-list two-line>
                  <template v-for="(item, index) in ecus">
                     <v-divider></v-divider>
                     <v-list-tile :key="item.sa" avatar @click="selectedEcu = item.sa">
                        <!--<v-list-tile-avatar>
                           <img :src="item.avatar">
                           </v-list-tile-avatar>-->

                           <v-list-tile-content>
                              <v-list-tile-title v-html="item.function"></v-list-tile-title>
                              <v-list-tile-sub-title v-html="item.manufacturer"></v-list-tile-sub-title>
                           </v-list-tile-content>
                     </v-list-tile>
                  </template>
               </v-list>
            </v-flex>

            <v-flex xs6>
               <ecu-details :sa="selectedEcu">
               </ecu-details>
            </v-flex>
         </v-layout>
      </v-container>
   </div>
</template>

<script>
var EcuDetails = require('@/components/ecu-details.vue').default
export default {
   name: 'diagnostics',
   data () {
      return {
         selectedEcu: null,
         ecus: [
         { sa: 0x26, manufacturer: 'DISTek Integration', function: 'Virtual Terminal' },
         { sa: 0x27, manufacturer: 'Other Manufacturer', function: 'Virtual Terminal' },
         { sa: 0x80, manufacturer: 'Unknown', function: 'Planter' }
         ]
      };
   },
   components: {
      'ecu-details': EcuDetails
   }
}
</script>

<style>
</style>
