<template>
  <div id="wrapper">
     <h2>Details</h2>
     <h3 v-if="sa == null">
        Select an item from the list to see more detail
     </h3>
     <div v-else>
        <div>Source Address: {{ sa }}</div>
     </div>
  </div>
</template>

<script>
  export default {
    name: 'ecu-details',
    props: ['sa'],
  }
</script>

<style>
</style>
